<div class = "container">
    <div class = "container_header">
        <h3>予定一覧</h3>
        <%= link_to :new_post do %>
            <button class = "btn_new">新規作成</button>
        <% end %>
    </div>
    
    <% if flash[:notice] %>
    <p class="notice"><%= flash[:notice] %></p>
    <% end %>
    
    <div>
        <table class = "container_table">
            
            <thead class = "table_head">
                <tr>
                    <th>ID</th>
                    <th>タイトル</th>
                    <th>開始日</th>
                    <th>終了日</th>
                    <th>終日</th>
                    <th>更新日時</th>
                    <th>詳細</th>
                    <th>編集</th>
                    <th>削除</th>
                </tr>
            </thead>
            
            <tbody class = "table_data">
                <% @posts.each do |post| %>
                <tr>
                    <td><%= post.id %></td>
                    <td><%= post.title %></td>
                    <td><%= post.start_date.to_fs(:date_jp) %></td>
                    <td><%= post.end_date.to_fs(:date_jp) %></td>
                    <td>
                        <span class = "is_all_day_circle">
                            <% if post.is_all_day == true %>○
                            <% else %>
                            <% end %>
                        </span>
                    </td>
                    <td><%= post.updated_at.to_fs(:datetime_jp) %></td>
                    <td><%= link_to "詳細", post %></td>
                    <td><%= link_to "編集", [:edit, post] %></td>
                    <td><%= link_to "削除", post, data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } %></td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
    
    <div class = "container_footer">
        <p>予定合計 <span class = "sum_of_posts"><%= Post.count.to_s %></span> 件</p>
        <p class = "date_today">本日の日付 <%= Date.today.strftime('%Y/%m/%d') %></p>
    </div>
</div>
